<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("086b4fa5-df03-47df-83e7-d1db9a71f5b5");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
