@{
    ViewBag.Title = "G.R.V - Inicio";
}

<div class="jumbotron">
    <h1>Gestión de Recursos y Viajes GRV</h1>
    <p class="lead">Desarrollado por Adudas Solutions © @DateTime.Now.Year</p>
</div>

<div class="row">
    <div>
        <h2>¿Quienes somos?</h2>
        <p>
            Somos Adudas Solutions, una empresa de desarrollo de software
            dedicada a impulsar el éxito de su negocio a través de soluciones tecnológicas innovadoras.
            Nuestro equipo experto se enfoca en brindarle soluciones personalizadas y escalables que le ayuden a
            alcanzar sus metas con eficacia. Con nosotros, obtendrá tecnología de vanguardia y un enfoque centrado
            en el cliente para satisfacer sus necesidades únicas y mantenerse por delante en un mercado en constante evolución.
        </p>
        <h2>¿Donde nos podéis encontrar?</h2>
        <p>
            En Adudas Solutions, aunque no contamos con una sede física,
            estamos completamente disponibles a través de todas nuestras plataformas de contacto para
            atender sus consultas y necesidades. Nuestro equipo se esfuerza por proporcionar soluciones
            personalizadas y escalables que impulsen su éxito en un mercado en constante evolución. ¡Contáctenos
            hoy mismo y descubra cómo podemos ayudar a llevar su negocio al siguiente nivel!
        </p>
    </div>
</div>